# MULTIPLE REGRESSION PROBLEM

In [3]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [4]:
data = pd.read_csv("50_Startups.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
data.shape

(50, 5)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [7]:
data['State'].value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder                                
le = LabelEncoder()
le1 = le.fit_transform(data['State'])
print(le1)

[2 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2 0 2 1 1 2 0 1 2 1 2 1 2 0 1 0 2 1
 0 2 0 0 1 0 2 0 2 1 0 2 0]

In [9]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [10]:
x = data.drop(['Profit','State'],axis=1)
y = data['Profit']

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [12]:
x_train.count()

R&D Spend          35
Administration     35
Marketing Spend    35
dtype: int64

In [6]:
y_train.count()

35

In [8]:
y_test.count()

15

In [13]:
x_test.count()

R&D Spend          15
Administration     15
Marketing Spend    15
dtype: int64

In [14]:
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [15]:
y_pred_train=lr.predict(x_train)
y_pred_test=lr.predict(x_test)

In [16]:
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score
rmse = np.sqrt(mean_squared_error(y_test,y_pred_test))
rmse

8583.728665571105

In [17]:
r2_score(y_train,y_pred_train)

0.9460378742581826

In [18]:
r2_score(y_test,y_pred_test)

0.9535462194580043